:root {
  /* Primary */
  --tomato: hsl(4, 100%, 67%);

  /* Neutral */
  --neutral: hsl(234, 29%, 20%);
  --charcoal-gray: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* weights */
  --normal: 400;
  --bold: 700;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;

  background-color: var(--neutral);
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  width: 376px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--neutral);
  color: white;
  border: none;
  font-weight: var(--bold);
  margin-top: 1.6rem;
}

input {
  width: 376px;
  width: 376px;
  padding: 0.9rem;
  border-radius: 8px;
  border: 1px solid var(--grey);
}

label {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: var(--white);
  border-radius: 36px;
  width: 928px;
  height: 641px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.content-list {
  margin: 2rem 0;
}

.content-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.content-list ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content {
  padding: 5rem 3rem;
}

.content-input {
  display: flex;
  flex-direction: column;
}

.image {
  height: 100%;
}
